body {
  margin: 0;
}

#container {
  margin-left: 280px;
  padding: 20px;
}

#myDiv {
  height: 90vh;
  width: 1200px;
}

.button-container {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-container .btn{
  margin: 0px 5px;
}
.btn {
  background-color: #007bff; 
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.inner-container{
  width: 100% !important;
  display: flex;
  flex-direction: row;
}
.inner-container .left-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inner-container .right-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}