body {
  margin: 0;
}

#container {
  margin-left: 280px;
  padding: 20px;
}

#myDiv {
  height: 600px;
  width: 800px;
}

.button-container {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-container .btn{
  margin: 0px 5px;
}
.btn {
  background-color: #007bff; 
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}