body {
  margin: 0;
}

#container {
  margin-left: 280px;
  padding: 20px;
}

#myDiv {
  height: 90vh;
  width: 1200px;
}

.button-container {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-container .btn{
  margin: 0px 5px;
}
.btn {
  background-color: #007bff; 
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.inner-container{
  width: 100% !important;
  max-height: 90vh !important;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
}
.inner-container .left-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.inner-container .right-container {
  max-height: 100%;
  width: 100%;
  display: flex;

  justify-content: center;
  overflow-y: scroll !important; 
}
.inner-container .right-container::-webkit-scrollbar {
  width: 12px; 
}

.inner-container .right-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px; 
}

.inner-container .right-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.table{
  margin-bottom: 0px !important;
  height: 100% !important;
}