body {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #f0f7fc !important; 
    /*overflow: hidden;*/
}

.container {
    text-align: center;
    width: 800px !important;
    background-color: #ffffff  !important; 
    padding: 20px;
    margin: 0 !important;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333333; 
}

table {
    width: 700px;
    border-collapse: collapse;
    max-height: 400px;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #cccccc; 
}

th, td {
    padding: 10px;
    text-align: left;
}

td:nth-child(1), th:nth-child(1) {
    width: 70px;
    text-align: center;
}

td:not(:nth-child(1)) {
    width: 200px;
}
td:nth-child(n):nth-child(-n+4):hover {
    background-color: gray;
    color: #ffffff; 
    transition: background-color 0.3s ease, color 0.3s ease;
}
td:nth-child(n+5):nth-child(-n+7):hover,
.address-container:hover {
    background-color: #007bff;
    cursor: pointer;
    color: #ffffff; 
    transition: background-color 0.3s ease, color 0.3s ease;
}   
th {
    background-color: #3498db;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

.map-container {
    align-items: center;
    justify-content: center;
    display: flex;
}

#map {
    height: 1000px;
    width: 600px;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid #dddddd;
    border-radius: 10px;
}

.find {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#search {
    display: flex;
    margin-right: 10px;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: 1px solid #007bff;
    border-radius: 4px;
    margin-left: -1px;
}

button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

#left, #right {
    padding: 8px 12px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    border: 1px solid #28a745;
    border-radius: 4px;
    margin-left: 10px;
}

#left:hover, #right:hover {
    background-color: #218838;
    border-color: #218838;
}

#routes,
#order-id-container {
    margin-top: 10px;
    width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-sizing: border-box;
}

#routes {
    height: 400px;
}

#order-id-container {
    padding: 20px;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 550;
}

#routes.inactive,
#order-id-container.inactive {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: grey;
    font-size: 24px;
}

.address-container {
    border: 1px solid #ddd;
    padding: 8px;
    margin: 8px;
    width: calc(50% - 16px);
    box-sizing: border-box;
    font-weight: 550;
}
