body{
    background-image: url(../assets/bg_img.jpg);
}
.teamName{
    padding: 20px;
    margin-left: 10px;
    color: blue;
    font-size: 32px;
    font-weight: bold;
}
.teamName img{
    width: 10%;
    height: 10%;
}
.container{
    margin-top: 80px;
    color: white;
    padding: 30px 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    width: 700px;
}

#uploadForm{
    display: flex;
    align-items: center;
}
.uploadButton{
    width: 100px;
    margin: 0px 10px 0px 30px;
}
.loading-spinner {
    margin-left: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#login-form{
    display: flex;
    flex-direction: column;
}